@import url("https://fonts.cdnfonts.com/css/google-sans");

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: #272b30;
  width: 30%;
  min-width: 215px;
  transition: all 0.5s;
}

.card:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.cardImage {
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.cardTitle {
  font-size: 18px;
  font-family: "Product Sans Medium", sans-serif;
  background-color: #272b30;
}

.cardDescription,
.cardPublisher,
.cardGenre,
.cardFormattedDate {
  background-color: #272b30;
}

.cardDescriptionBlock {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  color: #aaaaaa;
  height: 100%;
  font-family: "Product Sans", sans-serif;
  background-color: #272b30;
}

@media only screen and (min-width: 1200px) {
  .card {
    width: 22%;
  }
}

@media only screen and (max-width: 750px) {
  .card {
    width: 45%;
  }
}

@media only screen and (max-width: 490px) {
  .card {
    width: 95%;
  }
}
